
#plansza{
    width: 840px;
    height: 840px;
    border: 1px solid black;
    position: absolute;
    left: calc(100vw - 75vw);
}
.pole {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.gracz {
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    background-color: red;
}